
:root {
    --primary-color: #277D8E;
    --secondary-color: #23D45F;
    --background-light: #f4f7f9;
    --text-dark: #333;
    --text-light: #555;
    --border-radius: 12px;
    --box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-light);
    color: var(--text-dark);
    line-height: 1.6;
}
/* Header */
.Cabecalho {
    position: fixed;
    width: 100%;
    top: 0;
    height: 70px;
    z-index: 99;
    background-color: #277D8E;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    padding: 10px 0;
    transition: background-color 0.3s ease;
}

.DivLista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cabecalho ul {
    display: flex;
    align-items: center;
    gap: 190px;
    list-style: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: white;
    padding: 0 2%;
}

.Cabecalho ul a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

/* .Cabecalho ul a:hover {
    color: #1E9E5E;
} */

.Cabecalho img.Logo {
    width: 120px;
    transition: transform 0.3s ease;
}

.Logo {
    width: 120px;
}

.UserIcon {
    width: 40px;
}

/* Main Content */
.DetalhesMainContent {
    padding: 100px 20px 40px;
    margin-top: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Details Container */
.DetalhesContainer {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    transform: translateY(0);
}

/* Section Titles */


.DetalhesContainer legend {
    font-size: 15px;
    font-weight: 500;
    color: #999999;
    margin-bottom: 10px;
    padding: 0;
    position: absolute;
    top: -12px;
    left: 20px;
    background-color: #fff;
    width: auto;
    padding: 0 10px;
}

.DetalhesContainer label{
    font-size: 20px;
    color: #353744 ;
}

.DetalhesContainer h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.DetalhesContainer p {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.DetalhesContainer hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

/* Form */
.Form {
    margin-top: 30px;
    text-align: left;
}

.InputGroup,
.InputGroupHorizontal div {
    margin-bottom: 20px;
}

.InputGroup label,
.InputGroupHorizontal label
 {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
}

.InputGroup input,
.InputGroupHorizontal input,
.InputGroupHorizontal select {
    width: calc(100% - 24px); 
    padding: 8px; 
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px; 
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.InputGroup input:focus,
.InputGroupHorizontal input:focus,
.InputGroupHorizontal select:focus {
    border-color: #000000;
    box-shadow: 0 0 10px rgba(35, 212, 95, 0.2);
}


button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #277D8E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #3b9fb3;
    transform: translateY(-1px);
}

button[type="submit"]:active {
    background-color: #529dac;
    transform: translateY(-1px);
}

button[type="submit"]:focus {
    outline: none;
}


.CheckboxGroup {
    display: flex;
    align-items: center;
    margin-left: 52%;
}

.CheckboxGroup label {
    font-size: 12px; 
    display: flex;
    align-items: center;
    color: #353744;
}

.CheckboxGroup input[type="checkbox"] {
    width: 18px; 
    height: 18px; 
    margin-right: 0.5rem;
    border-radius: 2px;
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.ModalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.ModalContent h2{
    color: rgb(214, 0, 0);
}

.ModalButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.ModalButtons .ButtonConfirma {
    background-color: #32c757;
    border: none;
    padding: 6px;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.ModalButtons .ButtonConfirma:hover {
    background-color: #58c78a;
    border: none;
    padding: 6px;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.ModalButtons .ButtonCancela {
    background-color: #c73c32;
    border: none;
    padding: 6px;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.ModalButtons .ButtonCancela:hover {
    background-color: #c75858;
    border: none;
    padding: 6px;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
}

.ModalContent .Aviso{
    font-weight: bold;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: #353744;
}

.ModalConfirma {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoContainer {
    margin-bottom: 20px;
}

.InfoRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.Label {
    font-weight: bold;
    color: #353744;
}

.Value {
    color: #353744;
}

.ModalConfirma {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.ModalContent {
    background-color: white;
    border-radius: var(--border-radius);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.ModalButtons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Progress Bar */
.ProgressBarContainer {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-bottom: 30px;
}

.ProgressBar {
    height: 100%;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
}

  .CheckIcon {
    width: 50px;
    height: 50px;
    background-color: #23d45f;
    border-radius: 50%;
  }
/* Container do Card */
.CardPreview {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.input-error {
    border: 1px solid red;
}

.error-text {
    color: red;
    font-size: 12px;
}


.Card {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: white;
    border-radius: var(--border-radius);
    padding: 25px;
    width: 350px;
    box-shadow: var(--box-shadow);
    transition: transform 0.3s ease;
}

/* Ícone de cartão no canto superior direito */
.CardIcon {
    position: absolute;
    right: 10px; 
    font-size: 18px; 
    opacity: 0.7;
}

.CardNumber {
    font-family: 'Courier New', monospace;
    letter-spacing: 3px;
    font-size: 22px;
    margin-bottom: 20px;
}

.CardDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.CardHolder {
    font-size: 14px; 
    font-weight: 500;
    margin-bottom: 8px; 
}

.CardExpiry {
    font-size: 14px; 
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 6px; 
}

/* Responsividade */
@media (max-width: 768px) {
    .Card {
        width: 100%;
        padding: 10px;
        overflow-x: auto; /* Adiciona rolagem horizontal */
        white-space: nowrap; /* Impede que o conteúdo quebre em várias linhas */
    }

    .DetalhesMainContent {
        width: 100%;
        padding: 10px;
        overflow-x: auto; /* Adiciona rolagem horizontal */
        white-space: nowrap; /* Impede que o conteúdo quebre em várias linhas */
    }

    .CardNumber {
        font-size: 16px;
    }

    .CardHolder,
    .CardExpiry {
        font-size: 12px;
    }

    .CardIcon {
        font-size: 16px;
    }
}


.ButtonDetalhes {
    padding: 10px;
    width: auto; 
    background-color: #277D8E;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 2px;
    transition: background-color 0.8s ease;
}

.ButtonDetalhes:hover {
    background-color: white;
    border: 3px solid #277D8E;
    color: #333;
    transition: background-color 0.3s ease;
}


.InputGroupHorizontal {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.InputGroupHorizontal div {
    flex: 1;
}

.DetalhesContainer fieldset {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

.InputGroupHorizontalDois {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.InputGroupHorizontalDois input {
    font-size: 16px;
    border-radius: 8px; 
    border: 1px solid #ddd;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    height: 35px; 
}

.InputGroupHorizontalDoisD input {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    height: 35px; 
}

.InputGroupHorizontalDois label {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 500;
}

.InputDetalhesDois {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

/* Alinhamento de validade e CVV lado a lado */
.ValidadeCvvContainer {
    display: flex;
    gap: 20px; 
}

.ValidadeCvvContainer div {
    flex: 1;
}
.ValidadeCvvContainer input {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .ValidadeCvvContainer {
        flex-direction: column;
    }

    .ValidadeCvvContainer div {
        margin-bottom: 15px;
    }
}

.InputGroupHorizontal input {
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.InputGroupHorizontal input:focus {
    border-color: #23D45F;
    box-shadow: 0 0 10px rgba(35, 212, 95, 0.2);
}

.DetalhesContainer label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.InputDetalhes {
    width: 100%;  
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.RadioGroup {
    display: flex;
    flex-direction: row; /* Change to column for vertical alignment */
    gap: 10px; /* Spacing between radio buttons */
    align-items: center; /* Vertically aligns the label with the radio button */
  }
  
  .RadioGroup label {
    display: flex;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
  }
  
  .RadioGroup input[type="radio"] {
    margin-right: 5px; 
  }
  
  div p.Desconto {
    color: red;
  } 
 
.ContainerInformacoes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    width: 97.7%;
  }
  
  .InformacaoEsquerda {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .InformacaoDireita {
    text-align: right; 
    font-weight: bold;
  }
  
  .Desconto {
    color: red;
    font-weight: bold;
  }
  
  @media (max-width: 600px) {
    .ContainerInformacoes {
      flex-direction: column; 
      text-align: center; 
    }
  
    .InformacaoDireita {
      text-align: center;
    }
  }
  
  